.top
{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.main-content
{
    float: left;
    width: 700px;
}

.my-photo
{
    width: 60px;
    height: 60px;
    float: left;
}

.main-img
{
    float: left;
    width: 100px;
    height: 100px;
}

.review-content
{
    float: left;
}